/*
    каскадирование.
 */

/*
    Селектор псевдоэлементов + наследование
 */
html ::selection {
    background-color: var(--button-color);
    color: var(--main-font-color);
}

:root {
    --main-font-color: #ffffff;
    --secondary-font-color: #747f8d;
    --edges-background-color: #202225;
    --main-background-color: #2f3136;
    --blocks-background-color: #36393f;
    --button-color: #43b581;
    --warning-color: #ea4646;
}

#header_text {
    font-family: monospace;
    font-size: 30px;
    color: var(--main-font-color);
    padding-left: 40px;
}

header {
    background-color: var(--edges-background-color);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

body {
    background-color: var(--main-background-color);
    height: 100%;
    width: 100%;
    margin: 0;
}

.content {
    color: var(--main-font-color);
    font-family: Arial, serif;
    width: 100%;
}

/*
    Селектор дочерних элементов
    Выделяет только h1 в .content
    h1 есть в блоках, но его не выделяет. TODO
*/
.content > h1 {
    text-align: center;
    font-family: Arial, serif;
    font-size: 30px;
}

/* Блоки основного контента */
#content_blocks {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: var(--edges-background-color);
    font-family: Tahoma, serif;
    font-size: 18px;
    color: var(--secondary-font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 70px;
}

/*
    Селектор идентификаторов
 */
#footer_text {
    text-align: center;
}

#graph-picture {
    background: url("resources/areas-light.png");
    height: 300px;
    width: 300px;
    background-size: cover;
}

#graph-picture:hover {
    background: url("resources/spinning-lebedev.gif");
    height: 300px;
    width: 300px;
    background-size: cover;
}